# Canadian Housing Market Forecasting: Time Series Analysis & Modelling.
Description:

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=Warning)

# Data Ingestion and Data Cleaning
Description:

In [2]:
#csv for mortgage rates chartered_bank_interest.csv
#ingest the csv 
#take all dates after 1975-01-01
#take only the column named 5-year Conventional mortgage
df_chartered_bank_i = pd.read_csv('../Resources/Datasets/chartered_bank_interest.csv', index_col="date", infer_datetime_format=True, parse_dates=True)
df_chartered_bank_i.head()

,Prime rate,1-year Conventional mortgage,3-year Conventional mortgage,5-year Conventional mortgage,1-year GIC,3-year GIC,5-year GIC,5-year personal fixed term,"Daily Interest Savings (balances over $100,000)",Non-Chequable Savings Deposits
date,,,,,,,,,,
1967-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
1967-04-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
1967-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
1967-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
1967-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5

In [3]:
#df_chartered_bank_i.index = df_chartered_bank_i.index.strftime('%d/%m/%Y')

In [4]:
#df_chartered_bank_i.tail()

In [5]:
# Convert daily data to monthly through the resample function
df_chartered_bank_i.index = pd.to_datetime(df_chartered_bank_i.index)
df_chartered_bank_i_cleaned = df_chartered_bank_i.resample('1Q').mean()
df_chartered_bank_i_cleaned.tail()

,Prime rate,1-year Conventional mortgage,3-year Conventional mortgage,5-year Conventional mortgage,1-year GIC,3-year GIC,5-year GIC,5-year personal fixed term,"Daily Interest Savings (balances over $100,000)",Non-Chequable Savings Deposits
date,,,,,,,,,,
2020-12-31,2.45,3.090000,3.556154,4.79,0.350000,0.600000,0.857692,0.700000,0.01,0.01
2021-03-31,2.45,2.813077,3.490000,4.79,0.315385,0.530769,0.853846,0.700000,0.01,0.01
2021-06-30,2.45,2.790000,3.490000,4.79,0.250000,0.553846,1.003846,0.700000,0.01,0.01
2021-09-30,2.45,2.790000,3.490000,4.79,0.250000,0.600000,1.000000,0.700000,0.01,0.01
2021-12-31,2.45,2.790000,3.490000,4.79,0.261111,0.616667,1.020000,0.764444,0.01,0.01

In [6]:
# Data ingestion - reading the CSV in from Statistics Canada and the Bank of Canada
# Credit liabilities of households.csv
# Residential mortgages 9+
df_Residential_mortgages = pd.read_csv('../Resources/Datasets/Credit liabilities of households.csv')
df_Residential_mortgages.head()

,Date,1/1/1990,2/1/1990,3/1/1990,4/1/1990,5/1/1990,6/1/1990,7/1/1990,8/1/1990,9/1/1990,...,12/1/2020,1/1/2021,2/1/2021,3/1/2021,4/1/2021,5/1/2021,6/1/2021,7/1/2021,8/1/2021,9/1/2021
0,Non-mortgage loans,121607,121404,122358,122922,123435,124132,124492,124806,125752,...,787490,780670,779984,779926,783466,787770,792582,793265,798152,802793
1,Chartered banks 1,77976,77819,78386,78566,78941,79564,80005,80526,81519,...,575885,571698,572927,575120,578333,581681,586632,587778,591617,595916
2,Personal loans 1 2,31781,31769,31878,32099,32316,32539,32687,32805,32854,...,113070,115030,115131,114723,115259,115462,116026,116245,116837,117381
3,Of which: Auto loans 1 2,0,0,0,0,0,0,0,0,0,...,90763,90156,89902,90276,90681,90911,91542,91917,92298,92252
4,Credit cards 1 2,9090,8768,8728,8883,9050,9232,9310,9516,9788,...,78388,73786,73374,74232,74249,75221,76422,77223,78335,79324

In [7]:
# Transpose 
res_mortgage_transp = df_Residential_mortgages.T
res_mortgage_transp.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
Date,Non-mortgage loans,Chartered banks 1,Personal loans 1 2,Of which: Auto loans 1 2,Credit cards 1 2,Lines of credit 1 2 4,"Lines of credit, of which: excluding home equi...",Other personal loans 1 2,Unincorporated business 1 2,Non-banks 1,...,Of which: real estate secured lending 14,Residential mortgages 14,Chartered banks 10 14,Non-banks 10 14,Non-residential mortgages 14,Chartered banks 13 14,Non-banks 13 14,Home equity lines of credit 14,Chartered banks 14,Non-banks 14 15
1/1/1990,121607,77976,31781,0,9090,5550,1264,16523,15032,43631,...,235302,228663,85704,142959,2353,283,2070,4286,4286,0
2/1/1990,121404,77819,31769,0,8768,5695,1297,16585,15002,43585,...,236297,229555,86873,142682,2344,283,2061,4398,4398,0
3/1/1990,122358,78386,31878,0,8728,5841,1330,16828,15111,43972,...,238489,231604,87830,143774,2374,289,2085,4511,4511,0
4/1/1990,122922,78566,32099,0,8883,5989,1383,16630,14965,44356,...,241170,234168,89060,145108,2396,296,2100,4606,4606,0

In [8]:
# Remove unwanted columns
res_mortgage_transp = res_mortgage_transp.truncate(before='35', after='35', axis=1)
res_mortgage_transp.head()

                                35
Date      Residential mortgages 14
1/1/1990                    228663
2/1/1990                    229555
3/1/1990                    231604
4/1/1990                    234168

In [9]:
# Reset index and change headers
res_mortgage_transp = res_mortgage_transp.reset_index(drop=False)
new_header = res_mortgage_transp.iloc[0] #grab the first row for the header
res_mortgage_transp = res_mortgage_transp[1:] #take the data less the header row
res_mortgage_transp.columns = new_header #set the header row as the dataframe header
res_mortgage_transp.head()

0      Date Residential mortgages 14
1  1/1/1990                   228663
2  2/1/1990                   229555
3  3/1/1990                   231604
4  4/1/1990                   234168
5  5/1/1990                   236766

In [10]:
res_mortgage_transp = res_mortgage_transp.rename(columns={'Residential mortgages 14': 'Residential Mortgages'})

In [11]:
res_mortgage_transp.dtypes

0
Date                     object
Residential Mortgages    object
dtype: object

In [12]:
res_mortgage_transp['Date'] = res_mortgage_transp['Date'].astype('datetime64[ns]')
res_mortgage_transp['Residential Mortgages'] = res_mortgage_transp['Residential Mortgages'].astype(float)
res_mortgage_transp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 1 to 381
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   381 non-null    datetime64[ns]
 1   Residential Mortgages  381 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 6.1 KB

In [13]:
res_mortgage_transp.Date = pd.to_datetime(res_mortgage_transp.Date)
res_mortgage_transp.set_index('Date', inplace=True)
res_mortgage_cleaned = res_mortgage_transp.resample('1Q').mean().head()

In [14]:
#combined dataframe = 1 + 2 + 3 
res_mortgage_cleaned.head()

0           Residential Mortgages
Date
1990-03-31          229940.666667
1990-06-30          236727.000000
1990-09-30          242165.666667
1990-12-31          246922.000000
1991-03-31          250729.333333

In [32]:
res_mortgage_cleaned['Residential Mortgages']=res_mortgage_cleaned['Residential Mortgages'].apply(lambda x:round(x,2))
res_mortgage_cleaned.head()

0           Residential Mortgages
Date
1990-03-31             229,940.67
1990-06-30             236,727.00
1990-09-30             242,165.67
1990-12-31             246,922.00
1991-03-31             250,729.33

In [16]:
#df_Residential_mortgages = df_Residential_mortgages.sort_index()
#df_Residential_mortgages.head()

In [17]:
#df_Residential_mortgages.index = pd.to_datetime(df_Residential_mortgages.index)
#df_Residential_mortgages.resample('1Q').mean().tail()

In [18]:
# Drop unwanted columns
#df_Residential_mortgages = df_Residential_mortgages[['Residential mortgages 14']]
#df_Residential_mortgages.tail()

In [19]:
#df_Residential_mortgages = df_Residential_mortgages.sort_index().truncate(before='Residential mortgages 14', after='Residential mortgages 14', axis=1)
#df_Residential_mortgages.head()

In [20]:
# Reset index and change headers
#res_mortgage_transp = res_mortgage_transp.reset_index(drop=False)
#new_header = res_mortgage_transp.iloc[0] #grab the first row for the header
#res_mortgage_transp = res_mortgage_transp[1:] #take the data less the header row
#res_mortgage_transp.columns = new_header #set the header row as the dataframe header
#res_mortgage_transp.head()

In [21]:
# Reset date column as index and rename main column 
#res_mortgage_transp = res_mortgage_transp.set_index('Date')
#res_mortgage_transp = res_mortgage_transp.rename(columns={'Residential mortgages 14': 'Residential Mortgages'})
#res_mortgage_transp.head()

In [22]:
#df_Residential_mortgages.index = pd.to_datetime(df_Residential_mortgages.index)
#df_Residential_mortgages.resample('1Q').mean().tail()

In [23]:
# Convert monthly data to quarterly through the resample function
#df_Residential_mortgages.index = pd.to_datetime(df_Residential_mortgages.index)
#df_Residential_mortgages.resample('1Q').mean().tail()

In [24]:
# Drop unwanted columns
#df_Residential_mortgages = df_Residential_mortgages[['Residential mortgages 14']]
#df_Residential_mortgages.head()

In [25]:
#res_mortgage_transp.dtypes

In [26]:
#possible_formats = ['%b-y%', '%y-%b']
#res_mortgage_transp['Date'] = pd.to_datetime(res_mortgage_transp['Date'], errors='coerce', format=fmt) for fmt in possible_formats
#res_mortgage_transp['Date'] = res_mortgage_transp['Date'].dt.strftime('%m/%y')
#res_mortgage_transp['Date'].tail()
#start_date = '01-Jan'
#end_date = '21-Sep'

#res_mortgage_transp_mask_1 = (res_mortgage_transp['Date'] > start_date) & (res_mortgage_transp['Date'] <= end_date)
#res_mortgage_transp_mask_1.head()

In [27]:
#df_Residential_mortgages.dtypes

In [28]:
# Convert daily data to monthly through the resample function
#df_Residential_mortgages.index = pd.to_datetime(df_Residential_mortgages.index)
#df_Residential_mortgages_index = df_Residential_mortgages.resample('1Q').mean().head()
#df_Residential_mortgages.set_index(df_Residential_mortgages_index, inplace=True) 
#df_Residential_mortgages['date'] = df_Residential_mortgages_index
#df_Residential_mortgages.head()


#res_mortgage_transp['Date'] = pd.to_datetime(res_mortgage_transp['Date'], format='%b-%y').add(pd.offsets.MonthEnd(0))
#res_mortgage_transp['Date'] = pd.to_datetime(res_mortgage_transp['Date'])
#df['end_date'] = pd.to_datetime(
#    df['end_date'], format='%b-%y'
#).add(pd.offsets.MonthEnd(0))

In [29]:
#df_Residential_mortgages.dtypes

In [30]:
#take the csv in 
#extract this column name: Credit liabilities of households 1 2 3
#extract this column name: Residential mortgages 9 
#flip the row into a column (transpose method)
#since the dates won't match, we need to add null values

In [31]:
# House afforability index 
df_House_afford_index  = pd.read_csv('../Resources/Datasets/AffordabilityIndex.csv')
df_House_afford_index.head()

     date  New housing price index  Housing Affordability Index
0  1980Q3                      nan                         0.42
1  1980Q4                      nan                         0.46
2  1981Q1                      nan                         0.48
3  1981Q2                      nan                         0.53
4  1981Q3                      nan                         0.63