# Canadian Housing Market Forecasting: Time Series Analysis & Modelling.
Description:

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=Warning)

# Data Ingestion and Data Cleaning
Description:

In [2]:
#csv for mortgage rates chartered_bank_interest.csv
#ingest the csv 
#take all dates after 1975-01-01
#take only the column named 5-year Conventional mortgage
df_chartered_bank_i = pd.read_csv('../Resources/Datasets/chartered_bank_interest.csv', index_col="date", infer_datetime_format=True, parse_dates=True)
df_chartered_bank_i.head()

,Prime rate,1-year Conventional mortgage,3-year Conventional mortgage,5-year Conventional mortgage,1-year GIC,3-year GIC,5-year GIC,5-year personal fixed term,"Daily Interest Savings (balances over $100,000)",Non-Chequable Savings Deposits
date,,,,,,,,,,
1967-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
1967-04-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
1967-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
1967-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5
1967-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5

In [3]:
#df_chartered_bank_i.index = df_chartered_bank_i.index.strftime('%d/%m/%Y')

In [4]:
#df_chartered_bank_i.tail()

In [5]:
# Convert daily data to monthly through the resample function
df_chartered_bank_i.index = pd.to_datetime(df_chartered_bank_i.index)
df_chartered_bank_i.resample('1M').mean().tail()

,Prime rate,1-year Conventional mortgage,3-year Conventional mortgage,5-year Conventional mortgage,1-year GIC,3-year GIC,5-year GIC,5-year personal fixed term,"Daily Interest Savings (balances over $100,000)",Non-Chequable Savings Deposits
date,,,,,,,,,,
2021-08-31,2.45,2.79,3.49,4.79,0.25,0.60,1.00,0.70,0.01,0.01
2021-09-30,2.45,2.79,3.49,4.79,0.25,0.60,1.00,0.70,0.01,0.01
2021-10-31,2.45,2.79,3.49,4.79,0.25,0.60,1.00,0.70,0.01,0.01
2021-11-30,2.45,2.79,3.49,4.79,0.25,0.60,1.00,0.70,0.01,0.01
2021-12-31,NaN,2.79,3.49,4.79,0.35,0.75,1.18,1.28,0.01,0.01

In [6]:
# Data ingestion - reading the CSV in from Statistics Canada and the Bank of Canada
# Credit liabilities of households.csv
# Residential mortgages 9+
df_Residential_mortgages = pd.read_csv('../Resources/Datasets/Credit liabilities of households.csv')
df_Residential_mortgages.head()

,Date,Jan-90,Feb-90,Mar-90,Apr-90,May-90,Jun-90,Jul-90,Aug-90,Sep-90,...,20-Dec,21-Jan,21-Feb,21-Mar,21-Apr,21-May,21-Jun,21-Jul,21-Aug,21-Sep
0,Non-mortgage loans,"121,607","121,404","122,358","122,922","123,435","124,132","124,492","124,806","125,752",...,"787,490","780,670","779,984","779,926","783,466","787,770","792,582","793,265","798,152","802,793"
1,Chartered banks 1,"77,976","77,819","78,386","78,566","78,941","79,564","80,005","80,526","81,519",...,"575,885","571,698","572,927","575,120","578,333","581,681","586,632","587,778","591,617","595,916"
2,Personal loans 1 2,"31,781","31,769","31,878","32,099","32,316","32,539","32,687","32,805","32,854",...,"113,070","115,030","115,131","114,723","115,259","115,462","116,026","116,245","116,837","117,381"
3,Of which: Auto loans 1 2,0,0,0,0,0,0,0,0,0,...,"90,763","90,156","89,902","90,276","90,681","90,911","91,542","91,917","92,298","92,252"
4,Credit cards 1 2,"9,090","8,768","8,728","8,883","9,050","9,232","9,310","9,516","9,788",...,"78,388","73,786","73,374","74,232","74,249","75,221","76,422","77,223","78,335","79,324"

In [7]:
#transpose 
res_mortgage_transp = df_Residential_mortgages.T
res_mortgage_transp.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
Date,Non-mortgage loans,Chartered banks 1,Personal loans 1 2,Of which: Auto loans 1 2,Credit cards 1 2,Lines of credit 1 2 4,"Lines of credit, of which: excluding home equi...",Other personal loans 1 2,Unincorporated business 1 2,Non-banks 1,...,Of which: real estate secured lending 14,Residential mortgages 14,Chartered banks 10 14,Non-banks 10 14,Non-residential mortgages 14,Chartered banks 13 14,Non-banks 13 14,Home equity lines of credit 14,Chartered banks 14,Non-banks 14 15
Jan-90,"121,607","77,976","31,781",0,"9,090","5,550","1,264","16,523","15,032","43,631",...,"235,302","228,663","85,704","142,959","2,353",283,"2,070","4,286","4,286",0
Feb-90,"121,404","77,819","31,769",0,"8,768","5,695","1,297","16,585","15,002","43,585",...,"236,297","229,555","86,873","142,682","2,344",283,"2,061","4,398","4,398",0
Mar-90,"122,358","78,386","31,878",0,"8,728","5,841","1,330","16,828","15,111","43,972",...,"238,489","231,604","87,830","143,774","2,374",289,"2,085","4,511","4,511",0
Apr-90,"122,922","78,566","32,099",0,"8,883","5,989","1,383","16,630","14,965","44,356",...,"241,170","234,168","89,060","145,108","2,396",296,"2,100","4,606","4,606",0

In [8]:
# Drop unwanted columns
res_mortgage_transp = res_mortgage_transp.truncate(before='35', after='35', axis=1)
res_mortgage_transp.head()

                              35
Date    Residential mortgages 14
Jan-90                   228,663
Feb-90                   229,555
Mar-90                   231,604
Apr-90                   234,168

In [9]:
# Reset index and change headers
res_mortgage_transp = res_mortgage_transp.reset_index(drop=False)
new_header = res_mortgage_transp.iloc[0] #grab the first row for the header
res_mortgage_transp = res_mortgage_transp[1:] #take the data less the header row
res_mortgage_transp.columns = new_header #set the header row as the dataframe header
res_mortgage_transp.head()

0    Date Residential mortgages 14
1  Jan-90                  228,663
2  Feb-90                  229,555
3  Mar-90                  231,604
4  Apr-90                  234,168
5  May-90                  236,766

In [10]:
# Reset date column as index and rename main column 
res_mortgage_transp = res_mortgage_transp.set_index('Date')
res_mortgage_transp = res_mortgage_transp.rename(columns={'Residential mortgages 14': 'Residential Mortgages'})
res_mortgage_transp.head()

0      Residential Mortgages
Date
Jan-90               228,663
Feb-90               229,555
Mar-90               231,604
Apr-90               234,168
May-90               236,766

In [11]:
#take the csv in 
#extract this column name: Credit liabilities of households 1 2 3
#extract this column name: Residential mortgages 9 
#flip the row into a column (transpose method)
#since the dates won't match, we need to add null values

In [12]:
# House afforability index 
df_House_afford_index  = pd.read_csv('../Resources/Datasets/AffordabilityIndex.csv')
df_House_afford_index.head()

     date  New housing price index  Housing Affordability Index
0  1980Q3                      NaN                        0.420
1  1980Q4                      NaN                        0.461
2  1981Q1                      NaN                        0.482
3  1981Q2                      NaN                        0.534
4  1981Q3                      NaN                        0.626